/* Logo */
header .logo img {
  max-height: 150px; /* Adjust size for larger logo */
  width: auto; /* Maintain aspect ratio */
}

.hero-banner {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}